@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 8%;
    border-bottom: 1px solid #ebebebeb;
}
.logo{
    font-weight: 600;
    font-size: 20px;
}
.navbar ul{
    padding: 10px 30px;
}
.navbar ul li{
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 10px;
}
.navbar button{
    padding: 10px 20px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #333;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
}
.navbar a{
    color: #000;
    font-weight: 400;
}
a.active{
    color: teal;
}
.userDetails{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}